@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
  margin-left: 5%;
  width: 750px;
  height: 95%;
  background: #ecf0f3;
  display: inline;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  font-family: poppins;
  box-sizing: border-box;
  overflow: auto;
} 


.container {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    height: 520px;
    width: 630px;
    border-radius: 20px;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

header { 
    padding-top: 5%;
    position: relative;
    display: block;
    margin-bottom: 25px;
}

p {
  margin-top: -27px;
  font-weight: 900;
  font-size: 1.8rem;
  color: rgb(180 177 176 / 1);
  letter-spacing: 1px;
  box-shadow: 7px -7px 10px #cbced1, 7px 11px 10px white;
  border-radius: 13px 13px 0 0;
}

.brand-logo {
  height: 84px;
  width: 84px;
  background: url("");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
    margin-top: 2px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #eaf0f3;
    letter-spacing: 1px;
}
.brand-title p {
    margin: 0;
}
nav {
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
 
  height: 40px;
  font-size: 14px;
  border-radius: 13px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

input:hover {
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

button {
  margin: 20px 5px 5px 40px;
  float: left;
  margin-bottom: 15px;
  background: #f6f7f8;
  height: 35px;
  width: 110px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
  background-color: #fefeff;
}
#img-wordplace {
  height: 35px;
  border-radius: 13px;
}

#img-office-365 {
  height: 35px;
  border-radius: 13px;
}
#img-logo-entre {
  height: 25px;
}
#cadastro {
  font-size: 13px;
  color: rgb(125, 150, 235);
  font-family: -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  background-color: rgb(236, 240, 243);;
  text-decoration: none;
  margin-top: 20px;
  height: 40px;
  border-radius: 20px;
  
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}

