@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
  margin-top: 75px;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
  overflow: auto;
}

.container {
  display: inline-table;
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

p {
    margin-top: -19px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
}

.brand-logo {
  margin: auto;
  height: 100px;
  width: 100px;
  background: url("");
  margin-bottom: 25px;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
    margin-top: 2px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
}
.brand-title p {
    margin: 0;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 13px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

input:hover {
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

a {
  background-color: rgb(236, 240, 243);;
  text-decoration: none;
  margin-top: 20px;
  height: 40px;
  border-radius: 20px;
  
}

button {
  font-size: 10px;
  margin-left: 3px;
  display: inline;
  width: 80px;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 13px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
  background-color: #5984bd;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}